<section id="breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li class="active">Manage your community</li>
                </ol>
            </div>
        </div>

    </div>
</section>

<section id="main">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="list-group">
                    <a href="#" class="list-group-item">Buildings</a>
                    <a href="#" class="list-group-item">Floors</a>
                    <a href="#" class="list-group-item">Units</a>
                    <a href="#" class="list-group-item">Users</a>
                    <a href="#" class="list-group-item">Ameneties</a>
                </div>
            </div>
            <div class="col-md-10">

            </div>
        </div>
    </div>
</section>